---
pageable: true
per_page: 10
---
<section class="blogroll">
  <div class="lead">
  <h1>Anthony Candaele's Blog</h1>
  <p>I blog regularly about webdevelopment topics</p>
  </div>
<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

  <% page_articles.each_with_index do |article, i| %>
    <article>
      <div class="date">
        <time datetime="<%= article.date %>"><%= article.date.strftime('%b %e %Y') %></time>
      </div>
      <div class="summary">
        <header>
          <h1><%= link_to article.title, article %></h1>
        </header>
        <p><%= article.summary %></p>
        <%= link_to 'Read more…', article, class: "more" %>
      </div>
    </article>
  <% end %>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>

</section>
